files:
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/00_setup_elasticsearch.sh":
    mode: "744"
    owner: root
    group: root
    content: |
      #!/bin/bash
      INSTALL=false
      ES_VER=2.1.0
      SCRIPT_ABS_FILE=$(readlink -f $0)
      CURRENT_MD5=$(md5sum "$SCRIPT_ABS_FILE" | cut -d ' ' -f 1)
      STORED_MD5=$(cat ~/.esconfigversion)

      if [ ! -f ~/.esconfigversion ]; then
        echo "~/.esconfigversion not found, building again."
        INSTALL=true
      fi

      if [ "$INSTALL" != true ] && [ "$CURRENT_MD5" != "$STORED_MD5" ]; then
        echo "Script is modified, building again."
        INSTALL=true
      fi

      if [ "$INSTALL" = true ]; then
        ES_URL=https://download.elasticsearch.org/elasticsearch/release/org/elasticsearch/distribution/zip/elasticsearch/$ES_VER/elasticsearch-$ES_VER.zip
        cd ~/ && wget $ES_URL
        unzip elasticsearch-*

        rm -rf /usr/local/elasticsearch-*
        mv elasticsearch-* /usr/local/

        mkdir -p /etc/elasticsearch/plugins
        mkdir -p /var/esdata

        /usr/local/elasticsearch-$ES_VER/bin/plugin install cloud-aws

        unlink /opt/aws/bin/elasticsearch
        ln -s /usr/local/elasticsearch-$ES_VER/bin/elasticsearch /opt/aws/bin

        chown -R webapp:webapp /var/esdata

        echo $CURRENT_MD5 > ~/.esconfigversion
        echo "Done!"
      else
        echo "Script is not updated since last install, not running again."
      fi

container_commands:
        01_run_setup_script:
            command: "/opt/elasticbeanstalk/hooks/appdeploy/pre/00_setup_elasticsearch.sh"
