files:
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/00_setup_elasticsearch.sh":
    mode: "744"
    owner: root
    group: root
    content: |
      #!/bin/bash
      BUILD=false

      ES_URL=https://download.elasticsearch.org/elasticsearch/release/org/elasticsearch/distribution/zip/elasticsearch/2.0.0/elasticsearch-2.0.0.zip

      CURRENT_MD5=$(md5sum $(basename "$0") | cut -d ' ' -f 1)

      if [ ! -f ~/.esconfigversion ]; then
        BUILD=true
      fi

      if [ ! $BUILD ] && [ CURRENT_MD5 != $(cat ~/.esconfigversion) ]; then
        BUILD=true
      fi

      if [ $BUILD ]; then
        cd ~/ && wget $ES_URL
        unzip elasticsearch-*

        rm -rf /usr/local/elasticsearch-*
        mv elasticsearch-* /usr/local/

        mkdir /etc/elasticsearch/plugins
        mkdir /var/esdata

        /usr/local/elasticsearch-2.0.0/bin/plugin install cloud-aws

        unlink /opt/aws/bin/elasticsearch
        ln -s /usr/local/elasticsearch-2.0.0/bin/elasticsearch /opt/aws/bin

        chown -R webapp:webapp /var/esdata

        echo $(md5sum $(basename "$0")) > ~/.esconfigversion
      fi
